// src/app/chat/display.scss

.chat-display-container {
  display: flex;
  flex-direction: column;
  background-color: #3a3a3a;
  border-radius: 12px;
  border: 1px solid #4a4a4a;
  overflow: hidden;
  flex: 1;
  min-height: 0;
}

.chat-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

::ng-deep .mat-mdc-tab-group {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-mdc-tab-header {
  background-color: #000000;
  border-bottom: 1px solid #4a4a4a;
}

::ng-deep .mat-mdc-tab-labels {
  background-color: #000000;
}

::ng-deep .mat-mdc-tab {
  color: rgba(255, 255, 255, 0.7);
  min-width: 80px;
}

::ng-deep .mat-mdc-tab.mdc-tab--active {
  color: #4da6ff;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  flex: 1;
  min-height: 0;
}

::ng-deep .mat-mdc-tab-body {
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-content {
  height: 100%;
  overflow: hidden;
}

.tab-label-text {
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
}

.tab-close-btn {
  width: 28px;
  height: 28px;
  margin-left: 4px;
  
  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

  &:hover mat-icon {
    color: rgba(255, 255, 255, 0.8);
  }
}

.tab-content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// Responsive
@media (max-width: 480px) {
  .tab-label-text {
    font-size: 12px;
  }

  .tab-close-btn {
    width: 32px;
    height: 32px;
    
    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}