// src/app/components/today/today.scss

.today-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #3a3a3a;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}
